.center {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.form__image {
    position: relative;
    z-index: 1;
    height: 350px;
    width: 350px;
    transform: translateY(30%);
}

form {
    position: relative;
    background-color: #505050;
    border-radius: 10px;
    border: #00c524 1px solid;
    box-shadow: 0 0 10px #00c524;
    width: 450px;
    height: fit-content;
    z-index: 2;
}

form h1 {
    color: #00c524;
    border-bottom: #00c524 1px solid;
    padding: 20px;
    z-index: 2;
}

form div {
    color: #00c524;
    margin: 15px auto 0;
    height: fit-content;
}

form div div {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px 0;
}

form label {
    display: block;
    border-bottom: #00c524 1px solid;
    text-align: left;
}

form input {
    width: 100%;
    padding: 15px;
    outline: none;
    background: none;
    border: none;
    box-shadow: 0 0 5px #00c524, 0 0 2px #00c524 inset;
    border-radius: 50px;
    margin: 10px 0;
}

form button {
    margin: 15px 0;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
    background-color: #ce6dff;
    color: #3b0058;
    cursor: pointer;
}

form button:hover {
    transform: translateY(-10%);
    background-color: #d992fc;
    color: #491265;
}

form button:disabled {
    background-color: silver;
    color: grey;
}

form button:disabled:hover {
    background-color: silver;
    color: grey;
    transform: translateY(0);
    cursor: not-allowed;
}

form p {
    color: #ce6dff;
    text-shadow: 0 0 5px #3b0058;
    margin-top: 10px;
}